
:root {
    --primary-color: #f3eae5;
    --text-dark: #00145D;
    --white:#ffffff;
    --max-width:1200px;
}



.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.nav-link{
    transition: all 0.3s;
    position: relative;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.navbar-nav{
    color: #0463FA;
}

.nav-link:hover {
    
    border-bottom: 3px solid #DA183B ; 
    border-radius: 15px;
    color:#DA183B;
    text-decoration: none;
}

.nav_links.open {
    transform: translateY(0);  
}

.nav-link:hover::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn:hover{
background-color: #DA183B;
border: none;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + 0.75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
    }
}

/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--dark);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease;
}

.footer .btn.btn-social:hover {
    color: var(--dark);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--dark);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--dark);
}
